:root {
    --background-color: #1E1D21;
    --box-background-color: #262529;
    --text-color: #AAAAAA;
}

html {
    background-color: var(--background-color);
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    display: flex;
    color: var(--text-color);
    align-items: flex-start;
    font-size: 18px;
    padding: 3px 10px;
}

h3 {
    font-size: 38px;
    padding-top: 5px;
}

#theme-toggle {
    position: absolute;
    top: 25px;
    right: 10px;
}

.theme-icon {
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-left: 4px;
}

.box.confirmed > h3 {
    color: #007bff;
}

.box.recovered > h3 {
    color: #28a761;
}

.box.deaths > h3 {
    color: #ff073a;
}

.container {
    width: 100%;
    padding: 1em;
    text-align: center;
    background-color: var(--background-color);
}

.flex {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 50vh;
    align-items: center;
}

.box {
    margin: 1em;
    width: 100%;
    border-radius: 10px;
    min-height: 140px;
}

.box.confirmed {
    padding: 0.5em;
    background: var(--box-background-color);
box-shadow:10px 10px 20px 0 rgba(0,0,0,.16);
}

.box.recovered {
    padding: 0.5em;
    background: var(--box-background-color);
    box-shadow:10px 10px 20px 0 rgba(0,0,0,.16);

}

.box.deaths {
    padding: 0.5em;
    background: var(--box-background-color);
    box-shadow:10px 10px 20px 0 rgba(0,0,0,.16);

}

.dropdown {
    margin-top: 17px;
    padding: 10px 20px 10px 20px;
    height: auto;
    overflow: hidden;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    color: var(--text-color);
    background: var(--box-background-color);
    box-shadow:10px 10px 20px 0 rgba(0,0,0,.16);
    border: none;
    cursor: pointer;
}

option {
    font-weight: 700;
    font-size: 11px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    text-decoration: none;
    padding: 5px;
    margin: 10px 0 5px 0;
    align-self: center;
    width: 200px;
    border-radius: 6px;
    border: none;
}

a {
    color: initial;
    
    font-size: 15px;
}

p, h1 {
    color: var(--text-color);
}

.github {
    background-color: #000000;
    color: #e6ffff;
    
    
}

.twitter {
    background-color: #eff7ff;
    color: #60adff;
}

.linkedin {
    background-color: #0088cc;
}

i  {
    padding: 0 6px;
}

@media screen and (min-width: 700px) {
    .flex {
        flex-wrap: nowrap;
    }

    .box {
        max-width: 300px;
        text-align: center;
        line-height: 4em;
        font-size: 18px;
    }
}